/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2019, 1:52:23 PM
    Author     : ThinkPad T430s i5
*/
img.pimage {
    width: 150px !important;
}

a.pa {
    display: inline-block;
    height: 160px;
}

.row.products {
    margin-top: 30px;
    margin-bottom: 30px;
}

.listgambar {
    margin-bottom: 30px;
}

img.spi {
    width:100%;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

img.cpi {
    width: 100px;
}

table.alignmiddle td {
    vertical-align: middle !important;
}

.pp {
    position: absolute;
    left:-300%;
}

.ajaxbg {
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(255,255,255, .8);
    z-index: 2;
    display: none;
}

.ajaxinner {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color:#ebccd1;
}