</main><!-- /.container -->
<br/><br/><br/>
<hr/>
<p class="text-center">&copy; CMSShoppingCart</p>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>